In [15]:
import altair as alt
from altair import datum
import pandas as pd
import os

# Convert datasets into one

In [62]:
# Pull the data
co2 = pd.read_csv(os.getcwd() + '/Data/CO2.csv', sep=',')
temps = pd.read_csv(os.getcwd() + '/Data/GlobalLandTemperaturesByCountry.csv', sep=',')
relevant_columns = ['country', 'year', 'co2', 'AverageTemperature', 'population', 'share_global_co2',
                   'AverageTemperatureUncertainty', 'gdp']

# Modify the datasets to match, and eliminates non-June months
temps = temps.drop(temps[temps['dt'].str[6] != '6'].index)
temps = temps.rename(columns={'dt': 'year', 'Country': 'country'})
temps['year'] = temps['year'].apply(lambda x: int(x[0:4]))

# Unionise the DataFrames
data = pd.merge(co2, temps, on=['year', 'country'])
data = data[relevant_columns]

                dt  AverageTemperature  AverageTemperatureUncertainty  \
7       1744-06-01              11.609                          1.577
19      1745-06-01                 NaN                            NaN
31      1746-06-01                 NaN                            NaN
43      1747-06-01                 NaN                            NaN
55      1748-06-01                 NaN                            NaN
...            ...                 ...                            ...
577410  2009-06-01              17.770                          0.520
577422  2010-06-01              16.377                          0.476
577434  2011-06-01              16.939                          0.599
577446  2012-06-01              16.631                          0.277
577458  2013-06-01              17.613                          0.473

         Country
7          Åland
19         Åland
31         Åland
43         Åland
55         Åland
...          ...
577410  Zimbabwe
577422  Zimbabwe
577434  Zimbabwe
577446  Zimbabwe
577458  Zimbabwe

[48174 rows x 4 columns]
           country  year     co2  AverageTemperature  population  \
0      Afghanistan  1949   0.015              23.142   7624058.0
1      Afghanistan  1950   0.084              25.083   7752117.0
2      Afghanistan  1951   0.092              22.893   7840151.0
3      Afghanistan  1952   0.092              25.257   7935996.0
4      Afghanistan  1953   0.106              24.941   8039684.0
...            ...   ...     ...                 ...         ...
19247     Zimbabwe  2009   5.476              17.770  12526964.0
19248     Zimbabwe  2010   7.878              16.377  12697728.0
19249     Zimbabwe  2011   9.744              16.939  12894323.0
19250     Zimbabwe  2012   7.883              16.631  13115149.0
19251     Zimbabwe  2013  11.836              17.613  13350378.0

       share_global_co2  AverageTemperatureUncertainty           gdp
0                  0.00                          0.535           NaN
1                  0.00                          0.238  9.421400e+09
2                  0.00                          0.478  9.692280e+09
3                  0.00                          0.332  1.001732e+10
4                  0.00                          0.315  1.063052e+10
...                 ...                            ...           ...
19247              0.02                          0.520  1.627576e+10
19248              0.02                          0.476  1.791838e+10
19249              0.03                          0.599  1.955407e+10
19250              0.02                          0.277  2.090997e+10
19251              0.03                          0.473  2.112350e+10

[19252 rows x 8 columns]